:host {
    display: block;
}

.users {
    max-width: 624px;
    margin: 0 auto;
    &__search {
        margin: 0 0 20px 0;
    }
    &__table {
        width: 100%;
        margin: 0 0 20px 0;
    }
}

.sort-actions {
    display: flex;
    align-items: center;
    &__action:not(:last-child) {
        margin: 0 20px 0 0;
    }
}
